 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-html5-plain colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <i class="iconify" data-icon="logos-arduino" data-inline="false"></i>
      <p> I have used Arduino programming for many of my earlier side projects and for reading data from experiments. I have the most experience with Python. I have worked on several small projects and I am currently using Python for my academic research. I learned JavaScript, HTML and CSS for the "PhysicsHub" project. </p>
    </div>
</div>
